.container {
    width: 200px;
    height: 200px;
}

#container1 {
    background-color: cadetblue;
    padding: 20px;
    border: 10px solid black;
    margin-left: 10px;
}

#container1Para1 {
    margin: 0;
}

#container2 {
    background-color: gold;
    border-top: 20px solid black;
    border-bottom: 20px solid black;
    border-left: 10px solid black;
    border-right: 10px solid black;
    margin-left: 268px;

}

#container3 {
    background-color: indianred;
    border: 10px solid black;
    margin-left: 50px;
}